@model Jogador

@{
    ViewData["Title"] = "Tela de Jogadores";
}

<link rel="stylesheet" href="~/css/jogadores.css">

<main>
    @if (ViewBag.UserName == null)
    {
        <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
    }
    else
    {
        <section class="container-grid cadastro-equipes">
            <form method="post" class="frm-cad-equipe" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Jogadores</h1>
                    <hr>
                </div>

                <input class="campo-entrada" type="text" id="nome-jogador" placeholder="Digite o nome do Jogador:"
                    name="Nome" required>
                <input class="campo-entrada" type="email" id="email-jogador" placeholder="Digite o Email do Jogador:"
                    name="Email" required>
                <input class="campo-entrada" type="password" id="senha" placeholder="Digite a Senha:" name="Senha" required>
                <select class="campo-entrada" id="equipe-select" name="Equipe" required>
                    <option class="valor-equipe" value="0">Selecione uma opção</option>
                    @foreach (Equipe equipe in ViewBag.Equipe)
                    {
                        <option class="valor-equipe" value="@equipe.IdEquipe">@equipe.Nome</option>
                    }
                </select>
                <button>Cadastrar</button>
            </form>

            <!-- TABELA CADASTRO DE Jogadores -->

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Jogador jogador in ViewBag.Jogador)
                    {
                        <tr>
                            <td>@jogador.IdJogador</td>
                            <td>@jogador.Nome</td>
                            <td>@jogador.Email</td>
                            <td>
                                <img src="/img/Equipes/@jogador.Equipe.Imagem" alt="" width="40px">
                            </td>
                            <td>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Jogador" asp-action="Excluir"
                                    asp-route-id="@jogador.IdJogador">
                                    <img class="yellow-trash" src="~/assets/trash.png" alt="">
                                </a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Jogador" asp-action="Editar"
                                    asp-route-id="@jogador.IdJogador">
                                    <img class="yellow-pencil" src="~/assets/pencil.svg" alt="">
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    }
</main>    